{% if user.is_authenticated %}
{% if room %}
    <p><font size="10">Records for room <b>{{room.name}}</b></font><p>
    {% if records %}
        <table style="width:50%">
            <tr>
                <th>Room occupied</th>
                <th>Room freed</th> 
            </tr>
            {% for record in records %}
                <tr>
                <td bgcolor = "ff7c7c"><p>{{ record.date_start }}</p></td>
                <td bgcolor = "affcc5"><p>{{ record.date_end }}</p></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><font size="6">No records found.</font><p>
    {% endif %}


{% else %}
    <p>Invalid room selected.</p>
{% endif %}
<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>Access denied - you are not logged in!</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}

<div>
<input type=button value="Back" onClick="javascript:history.go(-1);">
</div>
{% csrf_token %}